p{
    margin:0;
    padding:0;
}

.counter-container{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline: 5px;
    background-color: rgb(236, 236, 236);
    width: 400px
}

.button-container{
    padding: 30px;
}
.difficulty-container{
    padding-left: 30px;
    padding-bottom: 10px;
}

.last-question{
    padding-top: 10px;
    background-color: rgb(236, 236, 236);
    width: 400px

}

.answer-button{
    width: 120px;
    font-size: 20;
    height: 50px;
}

.difficulty-button{
    width: 60px;
    font-size: 12;
    height: 20px;
}


.explainer{
    padding-top: 200px;
    width:800px
}